.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}





*, *::before, *::after {
    box-sizing:border-box;
}

:root{
    --huid:#FDD6B5;
    --details:#EFC39E;
    --zonnebrildetail:#FF7C7C;
    --haarvoor:#55380D;
    --haarachter:#2C1D08;
}

body{
    height:100dvh;
    margin:0;
    display:grid;
    place-items:center;
    
}

body{
  background: repeating-linear-gradient(173deg, #C6F6F9 0%,#EAECC6 100%)
}

h1{
  z-index: 1;
  position: absolute;
  bottom: 75%;
  font-family: "Modak", system-ui;
  font-weight: 200;

  font-size: 4rem;
  color: #FF7C7C;;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
      text-shadow: 0 0 5px #f9a8c6, 0 0 10px #f9a8c6, 0 0 20px #f9a8c6, 0 0 40px #f9a8c6, 0 0 80px #f9a8c6;
  }
  100% {
      text-shadow: 0 0 10px #9adeec, 0 0 20px #9adeec, 0 0 40px #9adeec, 0 0 80px #9adeec, 0 0 160px #9adeec;
  }
}
/* h1{

  z-index: 1;
  position:absolute;
  bottom:70%;
  font-family: "Modak", system-ui;
  font-weight: 200;
  font-size: 5em;
  color: #FF7C7C;

} */






  span oorl{
    position: absolute;
    background-color: var(--details);
    border-radius:50%;
    width:13vmin;
    height: 13vmin;
    left: -9vmin;
    z-index: -1;
  }

  span oorr{
    position: absolute;
    background-color: var(--details);
    border-radius:50%;
    width:13vmin;
    height: 13vmin;
    left: 35vmin;
    z-index: -1;
  }

  /* hoofd */

  span:nth-of-type(2) {
    position: absolute;
    background-color: var(--huid);
    box-shadow: inset -11px -16px 35px 0px #ba8b66;
    border-radius:50%;
    width:40vmin;
    aspect-ratio:7/9;
    display:grid;
    justify-content:center;
    place-items:center;
    align-content:center;
    top:30%;

    transform-style: preserve-3d;
  }

  /* haar */
  section:nth-of-type(1) {
    transform-style: preserve-3d;

    display:grid;
    /* place-content:center; */
    place-items: center;
  }

  section:nth-of-type(1) p{
    display: block;
    position: absolute;
    /* left:50%; */
    /* top:50%; */
    /* translate: -50% -50%; */
    height:80vmin;
    width: 50vmin;
    /* z-index: -1; */
    background-color: var(--haarachter);
    border-radius: 48%;
    transform: translateY(17%) rotate(45deg) translateZ(-1em);
    }

    section:nth-of-type(1) p:nth-of-type(2){
      display: block;
      position: absolute;
      /* left:50%; */
      /* top:50%; */
      /* translate: -50% -50%; */
      height:80vmin;
      width: 50vmin;
      /* z-index: -1; */
      background-color: var(--haarachter);
      border-radius: 48%;
      transform: translateY(17%) rotate(135deg) translateZ(-1em);
      }

      section:nth-of-type(2){
        display: block;
        position: absolute;
        left:80%;
        top:12%;
        translate: -50% -50%;
        height:38vmin;
        width: 23vmin;
        background-color: var(--haarvoor);
        border-radius: 48%;
        transform: rotate(140deg);
      }

      section:nth-of-type(3){
        display: block;
        position: absolute;
        left:23%;
        top:15%;
        translate: -50% -50%;
        height:38vmin;
        width: 23vmin;
        background-color: var(--haarvoor);
        border-radius: 48%;
        transform: rotate(40deg);
      }




 
/* zonnebril */
 span ul{
    margin:0;
    padding:0;
    list-style-type:"";
    display:flex;
    width:43vmin;
    z-index: 2;
  }

  span li{
    
    
    border-radius:50%;
    flex-basis:50%;
    aspect-ratio:1;
    border: 2.5vmin solid #FF7C7C;
    
    background-image: linear-gradient(
			45deg,
			black 40%,
			silver 0 43%,
			black 0 48%,
			silver 0 54%,
			black 0
		);
	
	border-radius:50%;
	
	background-position:left bottom;
	
	background-size: 300% 300%;
	
	animation-name:reflectie;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

@keyframes reflectie {
	0% {
		background-position:left bottom;
	}
	100% {
		background-position:right top;
	}
}


  

  /* li:hover{
    transition: all 0.5s;
    /* background-image: linear-gradient(58deg, rgba(0,0,0,1) 27%, rgba(159,159,159,1) 27%, rgba(159,159,159,1) 40%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 62%, rgba(159,159,159,1) 62%, rgba(159,159,159,1) 71%, rgba(0,0,0,1) 71%); */
  
  

  neus{
    display:block;
    background-color: var(--details);
    /* box-shadow: inset -11px -16px 35px 0px rgb(215, 183, 134); */
    border-radius:50%;
    width:20%;
    aspect-ratio:3/2;

    position:absolute;

    translate: 0 8vmin;
  }

  mond{
    display: block;
    position: absolute;
    background-color: var(--haarachter);
    width: 11vmin;
    height: 3.5vmin;
    border-radius: 20px 20px 120px 120px;
    translate: 0 16vmin;
    transform: rotate(-5deg);
  }




  div{
    z-index: 1;
    position: absolute;
    right:10vmin;
    bottom:15vmin;
    background-color: aliceblue;
    border:.5vmin dotted #b2571a;
    border-radius: 5em;
    width: 16em;


  }



  div ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: "Short Stack", cursive;
    font-weight: 1000;
   
    

    input{
      appearance:none;
      font:inherit;
      margin:0;
      width: 4em;
      height:4em;
      margin:1em;
      border-radius: 50%;
      

      &[value="oranje"]{
        background-color: #ffa500;
        border:.5vmin solid #b2571a;
       
        &:checked{
          background-color: darkorange;
        }
      }

      &[value="roze"]{
        background-color: #ffc0cb;
        border:.5vmin solid #c8557c;
        &:checked{
          background-color: palevioletred;
        }
      }

      &[value="paars"]{
        background-color: #a054bb;
        border:.5vmin solid #681a85;
        &:checked{
          background-color: purple;
        }
      }

    }

  }

  body:has(>div>ul>li>input[value="oranje"]:checked){
    >span >ul >li{
      border-color: orange;
    }
  }

  body:has(>div>ul>li>input[value="roze"]:checked){
    >span >ul >li{
      border-color: pink;
    }
  }

  body:has(>div>ul>li>input[value="paars"]:checked){
    >span >ul >li{
      border-color: rgb(160, 84, 187);
    }
  }

  /* THERMOMETER */

  body > span:nth-of-type(1){
   
    position: absolute;
    left:10vmin;
    bottom:12vmin;
    height:60%;
    z-index: 2;


    input[type="range"]{

      writing-mode: vertical-lr;
      height:100%;
      appearance:none;
      font:inherit;
      background-image:linear-gradient(180deg, #FF5D3C 0%,#D4E5F9 100%);
      border:1vmin solid #B0D2F9;
      border-radius:1em;


    }

    >span{
      position: relative;
   

    span{
      position: absolute;
      bottom:-1em;
      left:50%;
      translate:-50% 0;
      height:3.5em;
      width:3.5em;
      border-radius: 50%;
      z-index: -1;
      background-color: #B0D2F9;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  }

  }

  ::-webkit-slider-runnable-track{

      height:1em;
      
    }
    
    ::-webkit-slider-thumb {
      appearance:none;
      width:1.4em;
      height:1em;
      background-color:#80A8D6;
      border-radius:0.2em;
      translate:0 0em;
      
    }